server:
  port: 8080
  connection-timeout: 180000

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/smart_oven?useSSL=false&characterEncoding=utf8
    username: root
    password: password
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database-platform: org.hibernate.dialect.MySQLDialect
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 1000MB
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true


file:
  picture:
    path: /Users/liufeng/Pictures/

oven:
  maxNum: 20

jiguang:
  master_secret: fd9785be7e05b9dc14569f63
  app_key: 3b1b3049c6ec58542a7f8a5b

config:
  key:
    # 最大设备数
    max_device_num: max_device_num
    # 1个小时内最多验证码数量
    max_code_num: max_code_num

logging:
  config: logback.xml